/* GLOBAL */

* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: darkred;
}

/* HEADER */

header {
    background: black;
    color: white;
    padding: 1em 2em;
}

header a {
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* NAV */
nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    list-style: none;
}